<%= form_with(model: lineage) do |form| %>
  <% if lineage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lineage.errors.count, "error") %> prohibited this lineage from being saved:</h2>

      <ul>
        <% lineage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id %>
    <%= collection_select( :lineage, :member_id, Member.all, :id, :fname, {}, { :multiple => false}) %>
  </div>

  <div class="field">
    <%= form.label :big %>
    <%=collection_select( :lineage, :big, Member.all.where.not(id: lineage.member_id), :id, :fname, include_blank: 'None') %>
  </div>

  <div class="field">
    <%= form.label :little %>
    <%=collection_select( :lineage, :little, Member.all, :id, :fname, include_blank: 'None') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
