<%= form_with(model: lineage) do |form| %>
  <% if lineage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lineage.errors.count, "error") %> prohibited this lineage from being saved:</h2>

      <ul>
        <% lineage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <Label class="form-label"> <%= form.label :member_id, "Member" %> </label>
    <%= collection_select( :lineage, :member_id, Member.all, :id, :full_name, {}, { :multiple => false}) %>
  </div>

  <div class="field form-group">
    <Label class="form-label"> <%= form.label :father, "Father" %> </label>
    <%=collection_select( :lineage, :father, Member.all, :id, :full_name, include_blank: 'None') %>
  </div>

  <div class="field form-group">
    <Label class="form-label"> <%= form.label :son, "Son" %> </label>
    <%=collection_select( :lineage, :son, Member.all, :id, :full_name, include_blank: 'None') %>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class:"btn btn-outline-dark" %>
  </div>
<% end %>
