<p id="notice"><%= notice %></p>

<h1>Lineages</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Father</th>
      <th>Son</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineages.each do |lineage| %>
      <tr>
        <td><%= link_to Member.where(id: lineage.member_id).last.fname, member_path(lineage.member_id)%></td>
        <td><%= link_to(lineage.name_check(lineage.father))%></td>
        <td><%= link_to(lineage.name_check(lineage.son))%></td>
        <td><%= link_to 'Show', lineage %></td>
        <td><%= link_to 'Edit', edit_lineage_path(lineage) %></td>
        <td><%= link_to 'Destroy', lineage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lineage', new_lineage_path %>
