<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @lineage.member_id %>
</p>

<p>
  <strong>Father:</strong>
  <%= @lineage.father %>
</p>

<p>
  <strong>Son:</strong>
  <%= @lineage.son %>
</p>

<%= link_to 'Delete', @lineage, class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>
<%= link_to 'Edit', edit_lineage_path(@lineage), class:"btn btn-outline-dark btn-sm" %>
<%= link_to 'Back', lineages_path, class:"btn btn-outline-dark btn-sm" %>
