<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <Label class="form-label">Name</label>
    <%= form.text_field :name, class:"form-control", placeholder:"Name"  %>
  </div>

  <div class="field form-group">
    <Label class="form-label">description</label>
    <%= form.text_field :description, class:"form-control", placeholder:"This event is..."  %>
  </div>

  <div class="field form-group">
    <Label class="form-label">location</label>
    <%= form.text_field :location, class:"form-control", placeholder:"Where"  %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Start Time</label>
    <%= form.datetime_field :start_time, class:"form-control" %>
  </div>

  <div class="field form-group">
    <Label class="form-label">End Time</label>
    <%= form.datetime_field :end_time, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class:"btn btn-outline-dark" %>
  </div>
<% end %>
