<p id="notice"><%= notice %></p>

<h1>Events</h1>

<th>Calendar View</th>

<%= month_calendar(events: @events) do |date, events| %>
  <%= date.strftime("%m/%d") %>

  <% events.each do |event | %>
    <div>
      <%= event.name %>
      <%= "@"%>
      <%= event.start_time.strftime("%I:%M%p")%>
      <%= link_to "Details", event%>
    </div>
  <% end %>
<% end %>
<br>

<%= link_to 'Add New Event', new_event_path %>