<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong> Start Time: </strong>
  <%= @event.start_time.strftime("%m/%d/%Y %I:%M%p") %>
</p>

<p>
  <strong> End Time: </strong>
  <%= @event.end_time.strftime("%m/%d/%Y %I:%M%p") %>
</p>

<%= link_to 'Edit Event', edit_event_path(@event) %> |
<%= link_to 'Remove Event', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Return to Events Calendar', events_path %>

