<%= form_with(model: due) do |form| %>
  <% if due.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(due.errors.count, "error") %> prohibited this due from being saved:</h2>

      <ul>
        <% due.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%# <Label class="form-label">Member</label> %>
    <%= form.label :member_id %>
    <%=collection_select( :due, :member_id, Member.all, :id, :fname) %>
  </div>

  <div class="field form-group">
    <%# <Label class="form-label">Event</label> %>
    <%= form.label :event_id %>
    <%=collection_select( :due, :event_id, Event.all, :id, :name) %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Amount</label>
    <%= form.number_field :dueAmount, :step => "0.01", class:"form-control" %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Paid</label>
    <%= form.check_box :paid %>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class:"btn btn-outline-dark" %>
  </div>
<% end %>
