<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @member.fname %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Due Amount:</strong>
  <%= @due.dueAmount %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @due.paid %>
</p>
<% if Member.find_by(:email =>current_admin.email).admin? %>
  <%= link_to 'Remove Due', @due, class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
  <br><br>
  <%= link_to 'Edit', edit_due_path(@due), class:"btn btn-outline-dark btn-sm" %>
<%end %>
<%= link_to 'Return Dues', dues_path, class:"btn btn-outline-dark btn-sm" %>
