<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <Label class="form-label">Member</label>
    <%=collection_select( :attendance, :member_id, Member.all, :id, :fname) %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Event</label>
    <%=collection_select( :attendance, :event_id, Event.all, :id, :name) %>
  </div>

  <div class="field form-group">
    <%= form.label :attended %>
    <%= form.check_box :attended %>
  </div>

  <div class="field form-group">
    <%= form.label :rsvp %>
    <%= form.check_box :rsvp %>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class:"btn btn-outline-dark" %>
  </div>
<% end %>
