<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id %>
    <% options = options_from_collection_for_select(@members, 'id', 'fname', form.object.member_id) %>
    <%= form.select :member_id,  options %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <% options = options_from_collection_for_select(@events, 'id', 'name', form.object.event_id) %>
    <%= form.select :event_id,  options %>
  </div>

  <div class="field">
    <%= form.label :attended %>
    <%= form.check_box :attended %>
  </div>

  <div class="field">
    <%= form.label :rsvp %>
    <%= form.check_box :rsvp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
