<%= search_form_for @q, url: search_attendances_path,
    html: { method: :post} do |f| %>
    <div class="container">
    <div class="row justify-content-end">
      <div class="col">
        <%= f.label :member_fname_cont %>
        <%= f.search_field :member_fname_cont %>
      </div>
      <div class="col">
        <%= f.label :event_name_cont %>
        <%= f.search_field :event_name_cont %>
      </div>
      <div class="col">
          <%= f.label :attended_eq %>
    <%= f.search_field :attended_eq %>
      </div>
      <div class="col">    
        <%= f.label :rsvp_eq %>
        <%= f.search_field :rsvp_eq %>
      </div>
      <div class = "col">
        <%= f.submit %>
      </div>
    </div>
  </div>  
<% end %>