<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @member.fname %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Attended:</strong>
  <%= @attendance.attended %>
</p>

<p>
  <strong>Rsvp:</strong>
  <%= @attendance.rsvp %>
</p>
<%= link_to 'Remove Attendance', @attendance, class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>

<%= link_to 'Edit', edit_attendance_path(@attendance), class:"btn btn-outline-dark btn-sm" %>
<%= link_to 'Back', attendances_path, class:"btn btn-outline-dark btn-sm" %>

