<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Ol' Ags", members_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Members", members_path, class:" nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Events", events_path, class:" nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Lineages", lineages_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dues", dues_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Attendance", attendances_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'New Member', new_member_path, class:"dropdown-item" %></li>
            <li><%= link_to 'New Event', new_event_path, class:"dropdown-item" %></li>
            <li><%= link_to 'New Lineage', new_lineage_path, class:"dropdown-item" %></li>
            <li><%= link_to 'New Dues', new_due_path, class:"dropdown-item" %></li>
            <li><%= link_to 'New Attendance', new_attendance_path, class:"dropdown-item" %></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <%= link_to "Sign Out", destroy_admin_session_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in", admin_google_oauth2_omniauth_authorize_path, method: :post, class:"nav-link" %>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
