<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <Label class="form-label">First Name</label>
    <%= form.text_field :fname, class:"form-control", placeholder:"First Name" %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Last Name</label>
    <%= form.text_field :lname, class:"form-control", placeholder:"Last Name" %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Join Date</label>
    <%= form.date_field :joinDate, class:"form-control" %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Graduation Date</label>
    <%= form.date_field :gradDate, class:"form-control" %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Email Address</label>
    <%= form.text_field :email, class:"form-control", placeholder:"example@tamu.edu" %>
  </div>

  <div class="field form-group">
    <Label class="form-label">Phone Number</label>
    <%= form.text_field :phoneNumber, class:"form-control", placeholder:"5555555555" %>
  </div>

  <div class="field form-group">
   <Label class="form-label">City</label>
    <%= form.text_field :city, class:"form-control", placeholder:"City" %>
  </div>

  <div class="field form-group">
    <%= form.label :admin %>
    <%= form.check_box :admin%>
  </div>

  <div class="field form-group">
    <%= form.label :major %>
    <%= form.text_field :major, class:"form-control", placeholder:"Major" %>
  </div>

  <div class="field form-group">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
