<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Joindate</th>
      <th>Graddate</th>
      <th>Email</th>
      <th>Phonenumber</th>
      <th>City</th>
      <th>Admin</th>
      <th>Major</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.fname %></td>
        <td><%= member.lname %></td>
        <td><%= member.joinDate %></td>
        <td><%= member.gradDate %></td>
        <td><%= member.email %></td>
        <td><%= member.phoneNumber %></td>
        <td><%= member.city %></td>
        <td><%= member.admin %></td>
        <td><%= member.major %></td>
        <td><%= member.active %></td>
        <% if Member.find_by(:email =>current_admin.email).admin? %>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <%= 
    ar = ''
    Member.where(admin: 1).find_each do |m|
      ar += m.email
      ar += ','
    end
    mail_to ar.chop
  %>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
