<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @member.fname %>
  <%= @member.lname %>
</p>

<p>
  <strong>Join Date:</strong>
  <%= @member.joinDate %>
</p>

<p>
  <strong>Graduation Date:</strong>
  <%= @member.gradDate %>
</p>

<p>
  <strong>Major:</strong>
  <%= @member.major %>
</p>

<p>
  <strong>Active:</strong>
  <%= @member.active %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<%# Hidden to non-Admins %>
<p>
  <strong>Phone Number:</strong>
  <%= @member.phoneNumber %>
</p>



<p>
  <strong>Admin:</strong>
  <%= @member.admin %>
</p>



<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
