<p id="notice"><%= notice %></p>
<p>
  <strong>
  <%= @member.fname %>
  <%= @member.lname %>
  </strong>
</p>

<p>
  <strong>Join Date:</strong>
  <%= @member.joinDate %>
</p>

<p>
  <strong>Graduation Date:</strong>
  <%= @member.gradDate %>
</p>

<p>
  <strong>Major:</strong>
  <%= @member.major %>
</p>

<p>
  <strong>Active:</strong>
  <%= @member.active %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<%# Hidden to non-Admins %>
<% if Member.find_by(:email =>current_admin.email).admin? %>
  <p>
    <strong>Phone Number:</strong>
    <%= @member.phoneNumber %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @member.admin %>
  </p>
  <%= link_to 'Remove Member', @member, class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
  <br><br>

  <%= link_to 'Edit', edit_member_path(@member), class:"btn btn-outline-dark btn-sm" %>
<%end %>
<%= link_to 'Back', members_path, class:"btn btn-outline-dark btn-sm" %>

